@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}
body {
  background: linear-gradient(to bottom, rgb(24, 24, 24), rgb(0, 0, 252));
  background-size: 300% 300%;
}
header {
  width: 100%;
  background-color: #00ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  
}
#menu li {
  padding: 10px 15px;
  margin: 0 20px;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 100px;
}
#menu ul {
  font-size: 25px;
  text-decoration: none;
  margin: 0 10px;
  text-transform: uppercase;
}
#menu li:hover {
  background-color: rgb(37, 106, 128);
}
a {
  color: black;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}
footer {
  flex-shrink: 0;
  bottom: 0;
  background-color: black;
  height: auto;
  width: 100%;
  font-family: 'open Sans';
  padding-top: 40px;
  color: white;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-container h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-container p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: white;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover{
  color: red;
}
.footer-bottom{
  background: blue;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;

}
