* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, black, rgb(1, 1, 88), black, red);
  background-size: 300% 300%;
  animation: colors 10s ease-in-out infinite;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.Login {
  background-color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  width: 23rem;
  height: 30rem;
  justify-content: center;
  display: flex;
  border-radius: 10%;
  flex-direction: column;
}
.Login_x {
  box-sizing: border-box;
  height: 3rem;
  width: 15rem;
  outline: none;
  border: unset;
  line-height: 150%;
}
#Enviar_ {
  width: 15rem;
  height: 3rem;
  border: unset;
  outline: none;
  font-weight: bold;
  background: linear-gradient(45deg, black, blue, black, red);
  background-size: 200% 200%;
  text-align: center;
  cursor: pointer;
}
