* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, black, rgb(1, 1, 88), black, red);
  background-size: 300% 300%;
  animation: colors 10s ease-in-out infinite;
  font-family: sans-serif;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.Login {
  background-color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  width: 23rem;
  height: 30rem;
  justify-content: center;
  display: flex;
  border-radius: 10%;
  flex-direction: column;
}
#titulo {
  margin-bottom: 5rem;
}
.Login_x {
  box-sizing: border-box;
  height: 3rem;
  width: 15rem;
  outline: none;
  border: none;
  line-height: 150%;
  font-size: 15px;
  border-bottom: solid 10px rgba(17, 0, 255, 0.212);
}
#Enviar_ {
  width: 15rem;
  height: 3rem;
  font-size: 20px;
  border: unset;
  outline: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(45deg, black, blue, black, red);
  background-size: 200% 200%;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  animation: colors 10s ease-in-out infinite;
}
.Login_x:hover {
  cursor: pointer;
}
.Login_x:focus {
  width: 100%;
  border-bottom: solid 5px rgb(0, 17, 255);
  transition: 0.2s ease-in-out;
}
#teste123 :hover {
  color: rgb(255, 0, 0);
}
